body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    transition: background 0.3s;
}

.container {
    margin-top: 100px;
}

#color-code {
    font-size: 24px;
    font-weight: bold;
}